* {
  margin: 0;
  padding: 0;
  color: #1E293B;
}

body {
  font-family: sans-serif;
  padding: 0;
  background: #fafafaff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

#root, main, .app, .container {
  position: relative;
  z-index: 1;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

@media (max-width: 900px) {
  h2 {
    text-align: left;
  }
}