* {
  margin: 0;
  padding: 0;
  color: #1E293B;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding: 0;
  background: #fafaff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

#root,
main,
.app,
.container {
  position: relative;
  z-index: 1;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* background */

.circle {
  position: fixed;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  filter: blur(50px);
  animation: floatRotate linear infinite;
  z-index: 0;
}

.circle1 {
  background: conic-gradient(from 45deg, #fce5e5, #cea2fd, #dcd0ff);
  top: 10%;
  left: 5%;
  animation-duration: 10s;
}

.circle2 {
  background: conic-gradient(from 135deg, #79baec, #3ded97, #dcd0ff);
  top: 5%;
  right: 35%;
  animation-duration: 20s;
}

.circle3 {
  background: conic-gradient(from 225deg, #ed2939, #cea2fd, #79baec);
  bottom: 5%;
  left: 35%;
  animation-duration: 15s;
}

.circle4 {
  background: conic-gradient(from 315deg, #fce5e5, #3ded97, #dcd0ff, #ed2939);
  bottom: 20%;
  right: 5%;
  animation-duration: 25s;
}

/* cursor */
.cursor {
  position: fixed;
  z-index: 999999;
  background-color: #bf82ff;
  height: 20px;
  width: 20px;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(206, 162, 253, 0.5);
}

@keyframes floatRotate {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }

  25% {
    transform: rotate(90deg) translate(60px, -40px);
  }

  50% {
    transform: rotate(180deg) translate(-40px, 60px);
  }

  75% {
    transform: rotate(270deg) translate(-60px, -40px);
  }

  100% {
    transform: rotate(360deg) translate(0px, 0px);
  }
}

@media (max-width: 900px) {
  h2 {
    text-align: left;
  }

  .cursor {
    display: none;
  }
}