.container {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  padding: 0 20px;
}

.welcom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  border-bottom: 1px solid #ffffff1f;
  padding: 0 20px;
}

.welcom h1 {
  font-size: 60px;
}

.welcom h3 {
  font-size: 20px;
}

.welcom p {
  margin-top: 100px;
  color: #ccc;
}

.content {
  text-align: left;
}

.skill img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.skill {
  text-align: center;
  border: 1px solid white;
  background-color: #ffffff1f;
  width: 100px;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.skillcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.skill:hover {
  transform: scale(1.05);
}

@media (min-width: 900px) {
  .welcom p {
    padding: 0 300px;
  }
}

@media (max-width: 900px) {
  .centerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .skill{
    padding: 5px 0;
  }
  .skill img {
    width: 60px;
    margin-bottom: 5px;
  }
}
