.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.left {
  text-align: left;
  flex: 2;
}

.left h1 {
  font-size: 60px;
  text-align: left;
}

.left p {
  color: #64748B;
  font-size: 30px;
}

.button {
  background-color: #663366;
  color: white;
  border: none;
  padding: 16px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}


.about {
  background-color: #ffffff;
  padding: 20px;
}

.about p,
.about strong {
  color: #64748B;
}

.aboutCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutCont div {
  flex: 1;
  max-width: 647px;
  text-align: center;
}

.aboutCont div img {
  width: 250px;
  position: relative;
  border-radius: 20px;
}

.aboutCont div img:nth-child(1) {
  margin-right: 20px;
  top: 0;
}

.aboutCont div img:nth-child(2) {
  top: 0;
}

.aboutCont div img:nth-child(3) {
  top: -70px;
  box-shadow: 0 0 0 5px #ffffff;
}

.aboutCont p {
  padding: 0 100px;
  box-sizing: border-box;
}

.skills {
  padding: 20px;
}

.skillcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.skill {
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.skill img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.skill:hover {
  transform: scale(1.05);
}

@media (max-width: 1155px) {
  .aboutCont p {
    padding: 0 50px;
  }

  .aboutCont div img {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .right {
    display: none;
  }

  .centerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skills {
    padding: 0;
  }

  .skill {
    padding: 5px 0;
  }

  .skill img {
    width: 60px;
    margin-bottom: 5px;
  }

  .about {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
  }

  .aboutCont {
    margin-bottom: 30px;
  }

  .aboutCont div:nth-child(2) {
    display: none;
  }

  .aboutCont div p {
    text-align: left;
    padding: 0;
  }

  .left {
    text-align: center;
    margin-bottom: 10px;
  }

  .left h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
  }

  .left p {
    font-size: 20px;
  }

  .button {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
}